@media only screen and (max-width: 1000px) {
	.index {
		display: flex !important;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		grid-template-columns: none !important;
	}

	.carousel {
		display: none;
	}

	.index-contents {
		width: 90%;
	}
}

body:has(.mtg-editor:hover) .mtg-panel {
	opacity: 1;
}

body:has(.ptcg-editor:hover) .ptcg-panel {
	opacity: 1;
}

.mtg-panel, .ptcg-panel {
	opacity: 0.75;
	transition: opacity 0.25s ease-in-out;
}

.index {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.links-box {
	position: absolute;
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	bottom: 5px;
	right: 5px;
}

.index-link {
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.github-link {
	font-weight: bold;
	background-color: black;
	color: white;
}

.symbol {
	width: 1em;
	height: 1em;
	display: inline-block;
}