@media print {
	.no-print, .no-print * {
		display: none !important;
	}
}

@page {
	size: A4;
	margin: 0.25in;
}

body .card,
body .double-card {
	box-sizing: border-box;

	overflow: hidden;
}

.card-print {
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--card-width));

	grid-auto-rows: var(--card-height);

	align-content: start;
	justify-content: start;

	grid-auto-flow: row dense;
}

.card-print > * {
	break-inside: avoid;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
}

.card-print.gap {
	grid-gap: 0.1in;
}

.card-print.no-rounded-corners > .card {
	border-radius: 0 !important;
}

.card-print.shrink-cards > .card,
.card-print.shrink-cards > .double-card
{
	transform-origin: top left;
	scale: 0.9;
	/*border: 1px solid black;*/
}

.card-print.shrink-cards > .double-card > .card {
	width: calc(var(--card-width) * 1);
	/*scale: 0.9;*/
	/*padding: 0;*/
	/*margin: 0;*/
}

.card-print.shrink-cards {
	/*scale: 0.9;*/
	grid-template-columns: repeat(auto-fill, calc(var(--card-width) * 0.9));
	grid-auto-rows: calc(var(--card-height) * 0.9);
}