.carousel-container {
	display: grid;
	grid-row-gap: 0;
	grid-column-gap: 0;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.carousel-item {
	min-width: 2.5in;
	margin: auto;
	display: block;
	grid-area: 1/1/2/2;
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
}

.active {
	opacity: 1;
}