.carousel-container {
	display: grid;
	grid-row-gap: 0;
	grid-column-gap: 0;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.carousel-item {
	margin: auto;
	display: block;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2;
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
}

.carousel-item > .mtg-card {
	width: 100% !important;
	height: 100% !important;
}

.active {
	opacity: 1;
}