:root {
	--card-width: 2.5in;
	--card-height: 3.5in;
	--card-radius: 0.125in;
}

.card {
	width: var(--card-width);
	height: var(--card-height);
	max-width: 2.5in;
	max-height: 3.5in;
	border-radius: var(--card-radius);
	border: 1px solid black;
	font-size: 0.1in;
	break-inside: avoid;

	display: flex;
	flex-direction: column;

	font-family: serif;
	line-height: 1.5;

	padding-top: 0.05in;
	padding-bottom: 0.05in;

	white-space: pre-wrap;

	.card-divider {
		border-bottom: 1px solid black;
	}

	.card-title {
		font-size: 0.125in;
	}

	> *:not(.card-divider) {
		padding: 0.05in;
	}

	.mana-symbol {
		/*width: 1em;*/
		height: 1em;
		vertical-align: sub;
		display: inline-block;
		margin-left: 0.01in;
		margin-right: 0.01in;
	}
}