.mtg-card {
	.mana-cost {
		flex-shrink: 0;
	}

	.card-title-container {
		display: flex;
		flex-direction: row;
		gap: 0.1in;
		font-size: 0.125in;
	}

	.card-title {
		flex-grow: 1;
		font-weight: bold;
		width: min-content;
	}

	.bottom-container {
		display: flex;
		flex-direction: row;
		gap: 0.1in;

		.credit {
			font-size: 0.075in;
			font-family: monospace;
			font-style: italic;
		}

		.credit:before {
			content: "simplified-proxies.mm4096.com";
		}
	}

	.power-toughness {
		padding: 0.05in;
		border: 1px solid black;
		border-radius: 0.1in;
		height: min-content;
	}

	.card-reverse {
		transform: rotate(180deg);
	}

	.card-text {
		overflow-y: hidden;
	}

	.token-1-box {
		flex-grow: 2;
		max-height: var(--card-width);


		td {
			border: 1px solid black;
			text-align: center;
		}

		.left-label {
			transform: rotate(180deg);
			writing-mode: vertical-rl;
			align-items: center;
			justify-content: center;
			width: min-content;
			padding: 0.02in;
		}
	}

	overflow-y: hidden;
}

.mtg-card:has(.mana-counter) {
	padding: 0.05in;
}

.mtg-card .mana-counter {
	padding: 0;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	background-color: black;
	height: 100%;
	grid-gap: 0.02in;

	> * {
		padding: 0.05in;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: white;

		> img {
			transform: rotate(90deg);
			width: 100%;
		}
	}
}

.mtg-card .number-badge {
	border: 1px solid black;
	border-radius: 0.1in;

	padding-top: 0.01in;
	padding-bottom: 0.01in;

	margin-right: 0.05in;
	height: min-content;
	flex-shrink: 0;
	text-align: center;
	width: 5ch;
}

.double-card {
	display: flex;
	flex-direction: column;

	height: var(--card-height);
	max-height: var(--card-height);

	gap: 0.1in;
	.mtg-card {
		height: 0;
		flex-grow: 1;
		flex-shrink: 0;
	}
}

.mtg-card.rotate-card-90 {
	height: 0;
	flex-grow: 1;
	writing-mode: vertical-rl;

	.power-toughness {
		flex-shrink: 0;
	}

	.card-divider {
		border-left: 1px solid black;
	}

	.mana-symbol {
		transform: rotate(90deg);
	}

	.credit {
		font-size: 0.05in;
	}
}

.mtg-card.rotate-card-180 {
	transform: rotate(180deg);
}

.double-card.no-gap {
	gap: 0;
	.mtg-card:first-child {
		border-radius: 0.1in 0.1in 0 0;
	}

	.mtg-card:last-child {
		&.rotate-card-180 {
			border-radius: 0.1in 0.1in 0 0;
		}
		&:not(.rotate-card-180){
			border-radius: 0 0 0.1in 0.1in;
		}
	}
}

.card-print.no-rounded-corners > .double-card.no-gap > .mtg-card {
	border-radius: 0 !important;
}

.card-print:not(.gap) > .double-card {
	gap: 0;
}

.mtg-card.horizontal-card {
	width: var(--card-height) !important;
	min-width: var(--card-height) !important;
	height: var(--card-width) !important;
}